body{
    margin: 0em;
    
    font-family: 'Oswald';
}

#menu{
    background: #3C4C7C;
    width: 100%;
    height: 80px;
    position: relative;
    background-attachment: fixed;
    
}

#menu ul{      
    list-style: none; 
    position: absolute;
    margin-left: 60%;
    margin-top: 30px;          
}

#menu li{
    display: inline;    
    margin-left: 30px;
    
         
}

#menu a{

    color: #FFFBFB;
    text-decoration: none;
    font-family:'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}

#menu a:hover{

    background-color: #FFFBFB;
    color: #3C4C7C;
    font-family:'Lato', sans-serif;
    border: 2px solid white;;
    border-radius: 2px; 
    
}

.box1, .box2, .box3{

    height: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.paralax{
    position: absolute;
    width: 100%;
    height: 100%;
}

.box1{

    background-image: url(../img/csm.jpg);
}

.box1-conteudo{

    
    text-align: center;
    
}

h2{
    
    display: inline;
    font-size: 24px;
    border-bottom: #3C4C7C 1px solid;

}

h3{
    padding-bottom: 30px;
    margin-top: -1px;

}

hr{
    
    width: 30%;
    border-color: #3c4c7c;
}






