body{
    margin: 0em;
    font-family: 'Oswald';
}


#menu{
    
    width: 1600px;
    height: 60px;
    background-image: linear-gradient(to right, #000000, #c0c0c0);
    margin-top: 0px;
    position: relative;
    font-family: 'Bebas Neue', cursive; 
   
}

#menu ul{      
    list-style: none; 
    position: absolute;
    margin-left: 60%;
    margin-top: 20px;          
}

#menu li{
    display: inline;    
    margin-left: 30px;            
}

#menu a{
    color: #FFFBFB;
    text-decoration: none;
    font-family:'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;    
}

#menu a:hover{
    background-color: #FFFBFB;
    color: black;
    font-family:'Lato', sans-serif;
    border: 2px solid white;
    border-radius: 2px;    
}


/*Paralax*/
.box1, .box2, .box3, .box4{
    
    height: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box1-conteudo, .box2-conteudo, .box3-conteudo, .box4-conteudo{   
    text-align: center;
    display: block;
}

/* Inclusão das imagens*/
.box1{
    
    background-image: url(../img/csm.jpg);
}
.box2{
    background-image: url(../img/eva.jpg);

}

.box3{

    background-image: url(../img/helsing.jpg);

}

.box4{

    background-image: url(../img/berserk.jpg);
}

.linha{
    margin-top: -34px;
    width: 30%;
    border-color: #3c4c7c;
}

.paralax{
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin-top: 60px;
    
}

h2{

    display: inline;
    font-size: 24px;
    border-bottom: #3C4C7C 1px solid;
    line-height: 60px;
}

h3{
    
    padding-bottom: 30px;
    margin-top: -1px;
    font-family: 'Bebas Neue', cursive;
}

/**************CSS PAGINA PERSONAGENS****************/
#div-lateral ul{
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px;
    list-style: none;
    position: absolute;
    
}

#div-lateral li.anime{
    
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: 22px;    
    width: 120px;  
     
}

#div-lateral li.anime-personagem{
    
    font-family: 'Bebas Neue', cursive;
    font-size: 19px;
    
    width:120px;
    
}

#div-lateral li:hover{

    background-color: white;
    border: 2px solid purple;
    border-radius: 30px;
    text-align: center;
    
    
}

#div-lateral li a{
    text-decoration: none;  
       
}

#conteudo-personagem h2{
    
    
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    display: inline;
    border: none;
}

#conteudo-personagem h3{
  
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    margin-top: -5px;
    font-style: italic;
    line-height: 20px;
}

#conteudo-personagem h4{

    
    margin-top: -10px;
    font-style: italic;
    font-weight: 600;
    border-bottom: 2px solid #3c4c7c;
    display: inline;
}

#conteudo-personagem{
    
    width: 1470px;
    height: 100vmax;
    position: relative;
    margin-left: 124px;
    margin-top: 0px;
    text-align: center;  
}

.divisao-personagem{
    width: 75%;
    margin-top: 100px;
    margin-left: 130px;
}

.box-conteudo-makima{
    
    position: absolute;
    margin-left: 760px;
    top: 0px;
    height: 59%;   
    width: 650px;
    display: block;     
}

.box-csm-makima{

    width: 50%;
    height: 52%;
    background-image: url(../img/makima.png);
    /*background-position-x: 50% ;
    background-position-y: 10% ;*/
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

.box-conteudo-denji{
    
    position: absolute;
    margin-left: 760px;
    top: 62%;
    height: 59%;   
    width: 650px;
    display: block;
}

.box-csm-denji{

    margin-top: 157px;
    width: 50%;
    height: 52%;
    background-image: url(../img/denji.png);
    /*background-position-x: 30% 
    /*background-position-y: 10% ;*/
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

.box-csm-himeno{

    margin-top: 157px;
    width: 50%;
    height: 52%;
    background-image: url(../img/makima.png);
    /*background-position-x: 30% 
    /*background-position-y: 10% ;*/
    background-attachment: fixed;
    background-repeat: no-repeat;   
    border: 2px solid red;
}


.box-conteudo-himeno{
    
    position: absolute;
    margin-left: 760px;
    top: 62%;
    height: 59%;   
    width: 650px;
    display: block;
}


